#root {
    width: 100%;
    height: 100vh; //TODO HELELIK
    display: flex;
    padding: 30px 5%;
    background: linear-gradient(40deg, rgba(195, 192, 183, 1) 0%, rgba(255, 240, 240, 1) 100%);
    section {
        height: 100%;
    }
    .loginSection {
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &Inner {
            max-width: 90%;
            width: 350px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 15px;
            background: #fff;
            > h3 {
                font-size: 28px;
                margin-bottom: 15px;
            }
            > .inputBox {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                overflow: hidden;
                > .input {
                    border: none;
                    outline: none;
                    border-bottom: 1px solid gray;
                    padding: 0 8px;
                }
            }
            input[type="submit"] {
                border-radius: 5px;
                border: none;
                outline: none;
                height: 30px;
                margin-top: 10px;
                background: rgb(219, 219, 219);
                cursor: pointer;
                transition: 0.3s all ease-in-out;
                &:hover {
                    background: rgb(141, 141, 141);
                    color: white;
                }
            }
        }
    }
    .historySection {
        width: 35%;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.5);
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        .survey {
            margin-bottom: 20px;
            border-radius: 10px;
            padding: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            transition: 0.3s all ease-in-out;
            position: relative;
            cursor: pointer;
            > div {
                transition: 0.3s all ease-in-out;
            }
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px, rgba(0, 0, 0, 0.3) 0px 0px 0px -3px,
                    rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
                > div {
                    transform: translateY(2px);
                }
            }
            .del-icon-div {
                position: absolute;
                top: 23%;
                right: 5%;
                width: 35px;
                height: 35px;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px, rgba(0, 0, 0, 0.3) 0px 0px 0px -3px,
                    rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
                border-radius: 10px;
                transition: 0.1s all ease-in-out;
                &:active {
                    transform: translateY(5px);
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .copied {
                position: absolute;
                top: 23%;
                right: 5%;
                padding: 2px 5px;
                border-radius: 10px;
                top: 28%;
                right: 21.2%;
                background: rgba(0, 0, 0, 0.24);
            }
        }
    }
}
